<!-- Bottom Nav Bar-->
<body class="d-flex flex-column min-vh-100">
  <div class="text-center p-3 mt-auto" style="background-color: rgba(0, 0, 0, 0.2)">
    <h6>&copy; 2022 by Katheer Senthil Vel  </h6>
    
  <a href="https://github.com/katheer24" target="_blank">
  <i class="fa-brands fa-lg fa-github"></i></a>
  </div>
</body>
    